version: '3.8'

services:
  api:
    build: .
    container_name: ngo_api
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - uploads_data:/app/uploads
    depends_on:
      - db
    networks:
      ngo_network: {}

  db:
    image: postgres:15
    container_name: ngo_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: ngo_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      ngo_network: {}

volumes:
  postgres_data:
  uploads_data:


networks:
  ngo_network:
    driver: bridge
