@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
html {
  scroll-behavior: smooth;
}